@model Application.Dtos.Blog.PostDetailsVm
@{
}

<div class="row">
    <div class="col-1">
        <a class="button" asp-area="" asp-controller="Post" asp-action="Update" asp-route-id="@Model.Id" class="button">Update</a>

    </div>
    <div class="col-2">
        <form asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button class="button" type="submit">Delete</button>
        </form>
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="form-group post-title">
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </div>
</div>

<div class="form-group post-message">
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.Message)
    </div>
</div>